.wordpress-org/ export-ignore
.gitignore export-ignore
.github export-ignore
README.md export-ignore
composer.lock export-ignore
# WPF Documentor
vendor/wpfactory/wpf-settings-exporter export-ignore
vendor/wpfactory/wpf-documentor export-ignore
# GIT - Release version
/git-tag.sh export-ignore